# point only @bh-ai packages at your CodeArtifact repo
@bh-ai:registry=https://058264070106.d.codeartifact.us-east-1.amazonaws.com/npm/bh-npm-repo/
//058264070106.d.codeartifact.us-east-1.amazonaws.com/npm/bh-npm-repo/:always-auth=true
