.user:hover {
	background-color: black;
	color: white;
	padding: 10px 14px;
	border-radius: 4px;
	text-decoration: 'none' !important;

}

.user .link {
	text-decoration: underline !important;
  }

  
/* .hovered2:hover {
	background-color: black;
	color: white;
	padding: 10px 14px;
	border-radius: 4px;
	text-decoration: 'none';

} */

/* .link1:hover {
	text-decoration: 'none' !important;
}

.link2:hover {
	text-decoration: 'none' !important;
} */
.btn {
	font-weight: 500;
	font-size: 15px;
	padding: 10px 14px;
	margin-top: 16px;
	transition: background-color 0.3s ease;
}

.container {
	display: flex;
	justify-content: center; /* Horizontal alignment */
	align-items: center; /* Vertical alignment */
	height: 80vh; /* Set the height of the container to the full viewport height */
  }
  
  .content {
	text-align: center; /* Optionally center the text horizontally */
  }