.crumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.crumb-item {
  margin-right: 5px; /* Adjust spacing between breadcrumbs */
  display: flex;
  align-items: center;
}

.crumb-item:last-child {
  font-weight: bold; 
  word-spacing: 5px;
}

.crumb-item::after {
  /* content: '>'; */
  margin-left: 5px;
  margin-right: 5px;
  color: black; /* Add a separator between breadcrumbs */
}

.crumb-item:last-child::after {
  content: ''; /* Remove the separator after the last breadcrumb */
 
}

.crumb-item a {
  color: black; /* Set link color */
  font-weight: normal;
}

.crumb-item a:hover {
  text-decoration: none; 
  color: gray;
}
