.containers {
    position: relative;
    width: 100%;
    height: 100%;
}

.backgroundImage {
    width: 876.84px;
    height: 150.99px;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('assets/designer/Bg design.png');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.container_1 {
    width: 100%;
    height: 100%;
    /* padding-left: 95px; */
    padding-right: 95px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image {
    width: 683px;
    height: 611px;
    margin-top: 44px;
}

.cards {
    position: absolute;
}

.card_1 {
    top: 40px !important;
    left: 550px;
    width: 529px;
    height: 164px;
    padding: 15px;
}

.card_2 {
    top: 232px !important;
    left: 795px;
    width: 529px;
    height: 164px;
    padding: 15px;
}

.card_3 {
    top: 405px !important;
    left: 795px;
    width: 529px;
    height: 164px;
    padding: 15px;
}

.card_4 {
    top: 605px !important;
    left: 550px;
    width: 529px;
    height: 164px;
    padding: 15px;
}

.card_header {
    display: flex;
    height: 40px;
}

.card_header_text {
    margin: auto 18px;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
}

.card_header_content {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #282828;
    opacity: 80%;
    height: 42px;
    width: 492px;
    margin-bottom: 5px;
    margin-top: 5px;
    resize: none;
}

.card_header_button {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.78px;
    padding: 20px;
}

.dark {
    background-color: #333333;
    color: #FFFFFF;
}

.dark:hover {
    background-color: #333333;
    opacity: 0.79;
}
