/* Sidebar */
.sidebar {
  height: 90vh;
  color: #fff;
  left: 0;
  transition: width 0.1s ease;
  position: absolute;
  top: 45px;
  z-index: 3;
  background-color: #343a40;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sidebar Item */
.sidebar li {
  padding: 6px;
  cursor: pointer;
}

/* Sidebar Link */
.sidebar-link,
.submenu-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 6px;
}



/* Selected Sidebar Item */
.selected,
.selected-link {
  background-color: #d5d5d5 !important;
  border-radius: 8px;
}

.selected a,
.selected-link {
  color: #000 !important;
}

/* Ensure icons in selected items are visible */
.selected-link svg {
  fill: #000 !important;
}

/* Submenu */
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding-left: 20px; /* Indent submenu items */
}

/* Main Content Adjustment */
.main-content {
  margin-left: 80px;
}


/* Sidebar */
.sidebar {
  height: 90vh;
  color: #fff;
  left: 0;
  transition: width 0.1s ease;
  position: absolute;
  top: 45px;
  z-index: 3;
  background-color: #343a40;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sidebar Item */
.sidebar li {
  cursor: pointer;
}

/* Sidebar Link */
.sidebar-link,
.submenu-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 6px;
}

/* Hover styles for non-selected links */
.sidebar-link:not(.selected-link):hover,
.submenu-link:not(.selected-link):hover {
  background-color: black;
  color: #fff !important;
  text-decoration: none;
  border-radius: 8px;
}

/* Selected Link Styles */
.selected-link {
  background-color: #d5d5d5 !important;
  border-radius: 8px;
  color: #000 !important;
}

/* Ensure selected links do not change on hover */
.selected-link:hover {
  background-color: #d5d5d5 !important;
  color: #000 !important;
}

/* Icon Color in Selected Link */
.selected-link svg {
  fill: #000 !important;
}

/* Submenu */
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding-left: 20px; /* Indent submenu items */
}

/* Main Content Adjustment */
.main-content {
  margin-left: 80px;
}
