/* ul, li { list-style: none; margin: 0; padding: 0; }
ul { padding-left: 1em; }

li { padding-left: 1em;
  border: 1px solid #008cda;
  border-width: 0 0 1px 1px; 
}

li.container { border-bottom: 0px; }

li.empty { font-style: italic;
  color: silver;
  border-color: silver;
}

li p { margin: 0;
  background: white;
  position: relative;
  top: 0.5em; 
}

li ul { 
  margin-left: -1em;     
  padding-left: 2em; 
}
ul li:last-child ul {
  border-left: 1px solid white;
  margin-left: -17px;
} */
/* li {
    padding-left: 1em;
    border: 2px solid #008cda;
    border-width: 0 0 2px 2px;
} */

.data-set-list {
  padding-left: 1em;
  border: 2px solid #008cda;
  border-width: 0 0 2px 2px;

}

li.container {
  border-bottom: 0px !important;
  border-left: 12px;
}

li p {
  margin: 0;
  background: white;
  position: relative;
  top: 7px;
  line-height: 2;
  margin-right: 2px;
  
}

p {
  font-size: 14px;
}

.head {
  font-weight: 400;
  margin-top: 1px;
  padding-right: 55px;
}

.dot2{
  height: 5px;  
  width: 6px;
  background-color: #008cda;
  top: 1px;
  position: relative;
  border-radius: 1pc;
}

.keyword {
  color: blue;
  /* Change color to your preference */
  font-weight: bold;
  /* Make keywords bold */
}


/* ul{
    list-style-type: none !important;
  } */

.lists {
  list-style: none !important;
  padding: 10px;
}