.toolbarContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f3f4f6;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

.toolbarItemWrapper {
  position: relative;
}

.toolbarItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 79px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  margin: 0.35rem;
  width: 2.5rem; /* Initial width to show only the icon */
}

.toolbarItem:hover,
.toolbarItem.hovered,
.toolbarItem.active {
  width: auto;
  padding: 0.5rem 1rem;
}

.itemLabel {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.toolbarItem:hover .itemLabel,
.toolbarItem.hovered .itemLabel,
.toolbarItem.active .itemLabel {
  opacity: 1;
}

.toolbarItem img {
  transition: transform 0.3s ease;
}

.toolbarItem:hover img,
.toolbarItem.hovered img {
  transform: scale(1.1);
}

.dropdownWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  margin-top: 0.5rem;
}

.dropdown {
  width: 200px;
  background-color: #333; /* Dark background for dropdown */
  border: 1px solid #444;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.searchContainer {
  position: relative;
  padding: 0.5rem;
}

.searchInput {
  width: 100%;
  padding: 0.25rem 0.5rem;
  padding-right: 1.5rem;
  border: 1px solid #555;
  border-radius: 0.25rem;
  background-color: #444;
  color: white;
}

.searchIcon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
}

.dropdownList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdownList li {
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}

.dropdownList li:hover {
  background-color: #444;
}
