@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Inter' !important;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  /* font-family: inherit; */
  font-family:'Inter' !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 12;
  width: 100%;
}

.content {
  margin-top: 4% !important;
  margin-left: 7%;
  margin-right: 4%;
  text-align: start !important;
  /* margin: 6% !important;
  position: relative;
  left: 2%; */
}

.disabledTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.disabledTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #eef0f2 !important;
  /* Adjust border color as needed */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #eef0f2 !important;
  /* Adjust border color as needed */
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #eef0f2 !important;
  /* Default border color */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #eef0f2 !important;
  /* Focus border color */
}


/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.ant-message {
  bottom: 200px !important;
  /* Adjust this value as needed */
}


.create-btn {
  background-color: black !important;
  height: 90% !important;
  font-weight: bold !important;
  font-family: 'Inter' !important;
  text-transform: none !important;
  color: white !important;
}

.back-btn {
  background-color: rgb(233, 231, 231) !important;
  height: 90% !important;
  font-weight: bold !important;
  font-family: 'Inter' !important;
  text-transform: none !important;
  color: rgb(49, 49, 49) !important;
}


.green-btn {
  height: 90% !important;
  font-weight: bold !important;
  font-family: 'Inter' !important;
  text-transform: none !important;
  color: rgb(49, 49, 49) !important;
}


.headBlock {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.title {
  font-size: 16px !important;
  color: #282828 !important;

}

.tag {
  font-size: 16px !important;
  font-weight: bold !important;
}

.headNt {
  font-weight: bold !important;
  font-family: 'Inter' !important;
  text-transform: none !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(10, 10, 10) !important;
}


.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  font-family: 'Inter', sans-serif !important;
}

.myFont {
  font-family: 'Inter' !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}
.myHeadFont{
  font-family: 'Inter' !important;
  font-weight: 00 !important;
  font-size: 15px !important;
}

.mff{
  font-family: 'Inter' !important;
}
.fs-1{
  font-size: 28px !important;
}

.fs-2{
  font-size: 22px !important;
}


.fs-3{
  font-size: 16px !important;
}

.ant-picker-focused {
  box-shadow: none !important;
  border-color: #ffffff !important;
}

.ant-picker-large { 
  height: 52px !important;
}

.bg-pink{
  background-color: #FF7396;
}


.bg-porple{
  background-color: #804FBF;
}
.bg-rose{
  background-color: #C049C0;
}
.bg-box{
  background-color: #F6F7F7;
}

label{
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.error{
color: red !important;
}
.bg-orange{
  background-color: #F7A01F;
}
.bg-dark-lin{
  background-image: linear-gradient(to right, rgb(20, 18, 18) , rgb(126, 126, 125)); 
} 