.flowPlayground {
  height: 85vh;
  width: 92vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flowContainer {
  flex-grow: 1;
  width: 100%;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 80%;
}

.controlButton {
  padding: 8px;
  background-color: white;
  color: #000;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controlButton:hover {
  background-color: #4e4a4a;
  color: white;
}

.customControlsPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: 80px;
  justify-content: end;
  padding: 10px 50px; 
  border-top: 1px solid #5e5959;
  padding-top: 10px;
  width: 100%;
}

.dataPreviewButton {
  display: flex;
  align-items: center;
  background-color: white;
  color: #000;
  border: none;
  border: 1px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 10px;
}

.dataPreviewButton:hover {
  background-color: #4e4a4a;
  color: white;
}

.dataPreviewText {
  margin-right: 8px;
}

.dataPreviewSymbol {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.dataPreviewSymbol.inverted {
  transform: rotate(180deg);
}