.flowPlayground {
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flowContainer {
  flex-grow: 1;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.controlButton {
  padding: 8px;
  background-color: white;
  color: #000;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controlButton:hover {
  background-color: #4e4a4a;
  color: white;
}