/* Modal Container */
.modalContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Modal Header */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modalHeader h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.closeIcon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #000;
}

.closeIcon:hover {
  opacity: 0.7;
}

/* Tabs */
.tabContainer {
  display: flex;
  padding: 0 30px;
  margin-top: -1px;
  margin-bottom: 25px;
}

.tab,
.activeTab {
  padding: 10px 20px;
  margin-bottom: -1px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
}

.tab:hover {
  color: #2e2e2e;
}

.activeTab {
  border-bottom: 2px solid #cbcbcb;
  font-weight: 600;
  color: #000;
  background-color: #f1f1f1;
}

/* Form Styles */
.form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.formRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  column-gap: 40px;
}

/* Form Field Base Styles */
.formField {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label Styles */
.formField label {
  font-weight: normal;
  color: #2e2e2e;
  margin-bottom: 5px;
  font-size: 0.90rem;
}

/* Input and Select Styles */
.formField input,
.formField select,
.formField textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #2e2e2e;
  font-size: 1rem;
  line-height: 1;
}

/* Focus Styles */
.formField input:focus,
.formField select:focus,
.formField textarea:focus {
  outline: none;
  border-color: #2e2e2e;
  box-shadow: 0 0 0 3px rgba(112, 112, 112, 0.1);
}

/* Full-width Inputs and Selects */
.formField input[type="text"],
.formField input[type="number"],
.formField select,
.formField textarea {
  width: 100%;
}

/* Error Message */
.errorMessage {
  color: rgba(173, 7, 7, 0.822);
  font-size: 0.8em;
  margin-top: 0.2em;
}

/* Button Container */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.closeButton,
.saveButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.closeButton {
  background-color: #f0f0f0;
  color: #333;
}

.closeButton:hover {
  background-color: #e0e0e0;
}

.saveButton {
  background-color: #000;
  color: #fff;
}

.saveButton:hover {
  background-color: #333;
}

/* Checkbox Specific Styles */
.formField input[type="checkbox"] {
  width: auto;
  margin-right: 7px;
  accent-color: #bababa;
}

.formField.checkboxField {
  flex-direction: row;
  align-items: center;
}

.formField.checkboxField label {
  margin-bottom: 0;
}

/* Radio Button Styles */
.radioField {
  display: flex;
  flex-direction: column;
}

.radioOption {
  margin-bottom: 10px;
}
.radioOption input[type="radio"] {
  margin-right: 10px;
}

.radioOption label {
  font-size: 1rem;
  color: #333;
}

/* Table Field */
.tableField {
  grid-column: span 2;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table td input[type="text"],
.table td input[type="number"] {
  width: 100%;
  padding: 4px;
  border: none;
  border-color: none;
}

.table td input:focus{
  outline: none;
  border-color: none;
  box-shadow: none;
}

.table td input[type="checkbox"] {
  margin: 0;
}

/* .table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr :hover {
  background-color: #f1f1f1;
} */

.table button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}
.deleteButton:hover{
  color: darkred;
}
.addRowButton:hover{
  color: darkgreen;
}

/* Textarea Field */
.textareaField {
  grid-column: span 2;
}

.textareaField textarea {
  height: 150px;
}

/* Monaco Editor Override */
.monaco_editor {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
}
